body {
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 500px minmax(1%, min-content);
  gap: 10px;
}

img[data-full] {
  border: 1px solid orange;
  object-fit: contain;
  margin-top: 10px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 300px auto;
  gap: 25px;
}
